/*Flexbox*/
.container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin: 2rem 2rem 5rem 2rem;
}

.how-to-item {
    margin: 1rem;
    padding: 1rem;
    border-radius: 1rem;
}

/*装飾･見栄えに関する部分*/
ul,
ol {
    margin-left: 1rem;
}

.supplement{
    list-style: none;   /*リストマーカーを消す(後で※を付けるため)*/
    text-indent: -1.5em;    /*リストの最初の文字を左にずらす(リストマーカーの分戻して、他のli要素と揃える)*/
    font-size: 0.9rem;
}

li.supplement::before {
    content: "※";
    margin-right: 0.5em; /*※の後に空白を入れるためのmargin*/
}

/*モバイル用のスタイル*/
@media (max-width: 600px) {
    .container {
        margin: 1rem 1rem 5rem 1rem;
    }

    .how-to-item {
        margin: 0.5rem;
        padding: 0.5rem;
    }
}